.series{
    margin-top: 25%;
}
.series__main__heading{
    font-weight: 700;
    text-align: center;
    margin: 20px 0px 10px 0px;
    background-color: white;
}
.series__main__heading >hr{
    background-color: lightgray;
    height: 4px;
}
.series__main__heading >h4{
    position: relative;
    top: -15px;
    left: 38%;
    width: 30%;
    background-color: white;
}